.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
.main-bg {
  background: url('../images/main-bg.jpg');
  background-size: cover;
}
.right-c {
  width: 80%;
}
.left-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}
