.sliderContainer {
  display: flex;
  justify-content: center;
}

.sliderMainContainer {
  width: 100%;
}

.imageContainer {
  min-width: 400px;
  position: relative;
  width: 100%;
}

.imageSize {
  // max-height: 400px;
  // min-width: 400px;
}

.indexPhoto {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: white;
}

.slick-slide {
  margin: 15px;
  height: auto;
}
