.sliderContainer {
  display: flex;
  justify-content: center;
}

.sliderMainContainer {
  // width: 1000px;
  width: 100%;
}

.imageContainer {
position: relative;
}

.imageSize {
  max-height: 400px;
  margin: 40px;
}

.indexPhoto {
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: white;
}
